@inherits LayoutComponentBase

@using Blazored.Toast.Configuration
@using WebApp.Components
@using WebApp.Components.Identity

@inject IJSRuntime JSRuntime
@inject ProtectedSessionStorage SessionStorage

<CookieRestoreRunner />

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5000"
                IconType="IconType.Material"
                ErrorIcon="Greška"
                InfoIcon="Informacija"
                SuccessIcon="Uspešno"
                WarningIcon="Upozorenje"
                ShowProgressBar="@true"
                ShowCloseButton="@true"
                MaxToastCount="3">
</BlazoredToasts>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center" style="height: 3.5rem;">
            <UserProfile />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>